:root {
  font-family: 'Anton', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #F3FCFF;
  color: #000000;
}

main {
  padding-left: 25px;
  padding-right: 25px;
}

.beyondMain {
  margin-left: -25px;
  margin-right: -25px;
}

.header {
  padding-left: 25px;
}

h1 {
  text-align: center;
  color: #000000;
  font-family: "Tungsten Bold";
  font-size: 40px;
  text-transform: uppercase;
  padding: 10px;
}

h2 {
  color: #000000;
  font-size: 30px;
  padding: 10px;
}

p {
  font-size: 25px;
}

.roundedCorners {
  border-radius: 25px;
}

.subFont {
  font-size: 18px;
}

.centeredText {
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: #00C0F7;
}

a:visited {
   color: #000000;
}