:root {
  font-family: 'Hedvig Letters Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  background-color: #ffffff;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

main {
  padding-left: 25px;
  padding-right: 25px;
  border-top: 2px solid #00C0F7;
}

.beyondMain {
  margin-left: -25px;
  margin-right: -25px;
}

.header {
  padding-left: 25px;
}

h1 {
  text-align: center;
  color: #000000;
  font-family: 'Hedvig Letters Sans', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  padding: 10px;
}

h2 {
  color: #000000;
  font-size: 30px;
  padding: 10px;
}

p {
  font-size: 25px;
}

.roundedCorners {
  border-radius: 25px;
}

.subFont {
  font-size: 18px;
}

.centeredText {
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: #00C0F7;
}

a:visited {
   color: #000000;
}

button {
  background-image: linear-gradient(to bottom right, #00A0E4, #00C0F7 , #00A0E4);
  color: #000000;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
button:hover {
  background-image: linear-gradient(to top right, #00A0E4, #00C0F7 , #00A0E4);
  cursor: pointer;
}

.centeredDiv {
  text-align: center;
}

.logoDiv {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.mainLogo {
  width: 20vw;
}

.row {
  box-sizing: border-box;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnLeft {
  float: left;
  width: 50%;
}

.columnRight {
  float: left;
  width: 50%;
}

li {
  font-size: 22px;
}

.portfolioDiv {
  text-align: center;
}

.portfolioImage {
  width: 40%;
  margin: 10px;
  padding: 2px;
  border-radius: 10px;
  border: solid 2px #00C0F7;
  background-color: #00A0E4;
  filter: drop-shadow(5px 5px 5px #050505);
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.floatText {
  margin-top: 10px;
  padding-top: 10px;
}

.my-float{
	margin-top:22px;
}

@media only screen and (max-width: 640px) {
  .mainLogo {
    width: 30vw;
  }
  .portfolioImage {
    width: 90%;
  }
}

@media only screen and (max-width: 1007px) {
  .mainLogo {
    width: 40vw;
  }
  .portfolioImage {
    width: 80%;
  }
}